@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-6xl md:text-7xl;
  }
  h2 {
    @apply text-5xl md:text-6xl;
  }
  h3 {
    @apply text-4xl md:text-5xl;
  }
  h4 {
    @apply text-3xl md:text-4xl;
  }
  h5 {
    @apply text-2xl md:text-3xl;
  }
  h6 {
    @apply text-xl md:text-2xl;
  }
  body {
    background-color: #53b29e;
  }
}

.card {
  width: 45ch;
  height: 45ch;
  background: transparent;
  /* border-radius: 5px; */
  border-radius: 512px;
  background-image: url(/android-chrome-512x512.png);
  background-size: cover;
  background-position: center center;
  box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.5s;
  will-change: transform;
  /* border: 15px solid white; */
}

.card:hover {
  box-shadow: 0px 30px 100px -10px rgba(0, 0, 0, 0.4);
}
